**KNN**

According to this algorithm, which is used in classification, feature extraction during classification is used to look at the closeness of the new individual to be categorized to k of the previous individuals.
For example, you want to classify a new element for k = 3. in this case the nearest 3 of the old classified elements are taken. If these elements are included in the class, the new element is also included in that class. The euclide distance can be used in the distance calculation.

# Project - Classify Type of Patient from the biomechanical features of orthopedic patients.

# Install the necessary libraries

In [57]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import cross_val_score
from scipy.stats import zscore
from sklearn import metrics
import seaborn as sns

# import data 2C_weka.csv for 2 Class Classifcation.

In [13]:
c= pd.read_csv("2Classdata.csv")

# Explore the data set.Get necessary information about the data.

Look at the head and tail of dataset.
Find the missing value.
Look at the unique values of class values.
Look at the distribution of class values and other attributes.
Get the datatype information about the dataset
Plot the distribution of different classes for pelvic_radius and sacral_slope for visualization.

In [63]:
c.info()
c.head()
c.tail()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 310 entries, 0 to 309
Data columns (total 7 columns):
pelvic_incidence            310 non-null float64
pelvic_tilt numeric         310 non-null float64
lumbar_lordosis_angle       310 non-null float64
sacral_slope                310 non-null float64
pelvic_radius               310 non-null float64
degree_spondylolisthesis    310 non-null float64
class                       310 non-null int32
dtypes: float64(6), int32(1)
memory usage: 15.8 KB
None

,pelvic_incidence,pelvic_tilt numeric,lumbar_lordosis_angle,sacral_slope,pelvic_radius,degree_spondylolisthesis,class
305,47.903565,13.616688,36.000000,34.286877,117.449062,-4.245395,1
306,53.936748,20.721496,29.220534,33.215251,114.365845,-0.421010,1
307,61.446597,22.694968,46.170347,38.751628,125.670725,-2.707880,1
308,45.252792,8.693157,41.583126,36.559635,118.545842,0.214750,1
309,33.841641,5.073991,36.641233,28.767649,123.945244,-0.199249,1

In [18]:
c.shape

(310, 7)

In [19]:
c.dtypes

pelvic_incidence            float64
pelvic_tilt numeric         float64
lumbar_lordosis_angle       float64
sacral_slope                float64
pelvic_radius               float64
degree_spondylolisthesis    float64
class                        object
dtype: object

# Encode the Class variable to integer.

In [23]:
from sklearn import preprocessing 
label_encoder = preprocessing.LabelEncoder()

In [24]:
c['class']= label_encoder.fit_transform(c['class'])

In [26]:
c.tail()

,pelvic_incidence,pelvic_tilt numeric,lumbar_lordosis_angle,sacral_slope,pelvic_radius,degree_spondylolisthesis,class
305,47.903565,13.616688,36.000000,34.286877,117.449062,-4.245395,1
306,53.936748,20.721496,29.220534,33.215251,114.365845,-0.421010,1
307,61.446597,22.694968,46.170347,38.751628,125.670725,-2.707880,1
308,45.252792,8.693157,41.583126,36.559635,118.545842,0.214750,1
309,33.841641,5.073991,36.641233,28.767649,123.945244,-0.199249,1

# Create the X(Feature-set) and Y(Target-set) sets for your Data.

In [27]:
cx= c.drop('class',axis=1)

In [0]:
cy=c['class']
cy=pd.get_dummies(cy, drop_first=True)

# Normalize your Data (X) to get values between 0 to 1.

In [28]:
cx=cx.apply(zscore)

In [30]:
cx.head()

,pelvic_incidence,pelvic_tilt numeric,lumbar_lordosis_angle,sacral_slope,pelvic_radius,degree_spondylolisthesis
0,0.147086,0.501369,-0.665177,-0.184950,-1.447647,-0.708059
1,-1.245864,-0.748769,-1.453001,-1.041521,-0.264385,-0.579556
2,0.484370,0.467932,-0.099262,0.273083,-0.897686,-0.795421
3,0.511390,0.711562,-0.411339,0.126128,-1.207303,-0.402288
4,-0.626648,-0.789693,-1.274745,-0.215876,-0.733455,-0.490106

# Split the dat as train and test with a ratio of 70:30.

In [31]:
X_train, X_test, y_train, y_test = train_test_split(cx,cy, test_size=0.3, random_state=9)

# Build the KNN model using Train Dataset and predict the class on test dataset.

In [60]:
K_3 = KNeighborsClassifier(n_neighbors= 3)
K_3.fit(X_train, y_train)
print(K_3.score(X_test, y_test))

0.8279569892473119

C:\Users\Bhagath PC\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

In [41]:
K_5 = KNeighborsClassifier(n_neighbors= 5)
K_5.fit(X_train, y_train)
print(K_3.score(X_test, y_test))

0.8279569892473119

C:\Users\Bhagath PC\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

In [34]:
K_9 = KNeighborsClassifier(n_neighbors= 9)
K_9.fit(X_train, y_train)
print(K_9.score(X_test, y_test))

0.7741935483870968

C:\Users\Bhagath PC\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

# Calculate the performance score of of your classification on test dataset.
Hint- You can use knn.score( ) function.

In [35]:
print(K_3.score(X_test, y_test))

0.8279569892473119

In [36]:
print(K_5.score(X_test, y_test))

0.7849462365591398

In [37]:
print(K_9.score(X_test, y_test))

0.7741935483870968

# What is the best K value for your classifcation?
#Find at which k value you get the best score.

In [58]:
scores = {}
scores_list = []
i = 1
while(i<20):
    knn = KNeighborsClassifier(n_neighbors= i)
    knn.fit(X_train, y_train)
    print(knn.score(X_test, y_test))
    y_pred = knn.predict(X_test)
    scores[i]= metrics.accuracy_score(y_test,y_pred)
    scores_list.append(metrics.accuracy_score(y_test,y_pred))
    
    i+=2

C:\Users\Bhagath PC\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

C:\Users\Bhagath PC\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

C:\Users\Bhagath PC\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

C:\Users\Bhagath PC\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

C:\Users\Bhagath PC\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

C:\Users\Bhagath PC\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

C:\Users\Bhagath PC\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

C:\Users\Bhagath PC\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

C:\Users\Bhagath PC\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

0.8064516129032258
0.8279569892473119
0.7849462365591398
0.7956989247311828
0.7741935483870968
0.8279569892473119
0.7956989247311828
0.8172043010752689
0.8172043010752689
0.8172043010752689

C:\Users\Bhagath PC\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

In [59]:
 max(scores,key=scores.get)

3

# import data 3C_weka.csv for 3 Class Classifcation and repeat all the steps which are given above.

In [61]:
c3=pd.read_csv('3Classdata.csv')

In [66]:
c3.info()
c3.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 310 entries, 0 to 309
Data columns (total 7 columns):
pelvic_incidence            310 non-null float64
pelvic_tilt                 310 non-null float64
lumbar_lordosis_angle       310 non-null float64
sacral_slope                310 non-null float64
pelvic_radius               310 non-null float64
degree_spondylolisthesis    310 non-null float64
class                       310 non-null object
dtypes: float64(6), object(1)
memory usage: 17.0+ KB

,pelvic_incidence,pelvic_tilt,lumbar_lordosis_angle,sacral_slope,pelvic_radius,degree_spondylolisthesis,class
305,47.903565,13.616688,36.000000,34.286877,117.449062,-4.245395,Normal
306,53.936748,20.721496,29.220534,33.215251,114.365845,-0.421010,Normal
307,61.446597,22.694968,46.170347,38.751628,125.670725,-2.707880,Normal
308,45.252792,8.693157,41.583126,36.559635,118.545842,0.214750,Normal
309,33.841641,5.073991,36.641233,28.767649,123.945244,-0.199249,Normal

In [68]:
c3.shape

(310, 7)

In [70]:
c3.dtypes

pelvic_incidence            float64
pelvic_tilt                 float64
lumbar_lordosis_angle       float64
sacral_slope                float64
pelvic_radius               float64
degree_spondylolisthesis    float64
class                        object
dtype: object

In [71]:
c3['class']= label_encoder.fit_transform(c3['class'])

In [72]:
c3.tail()

,pelvic_incidence,pelvic_tilt,lumbar_lordosis_angle,sacral_slope,pelvic_radius,degree_spondylolisthesis,class
305,47.903565,13.616688,36.000000,34.286877,117.449062,-4.245395,1
306,53.936748,20.721496,29.220534,33.215251,114.365845,-0.421010,1
307,61.446597,22.694968,46.170347,38.751628,125.670725,-2.707880,1
308,45.252792,8.693157,41.583126,36.559635,118.545842,0.214750,1
309,33.841641,5.073991,36.641233,28.767649,123.945244,-0.199249,1

In [74]:
c3x= c3.drop('class',axis=1)
c3y=c3['class']
c3y=pd.get_dummies(c3y, drop_first=True)

In [75]:
c3x=c3x.apply(zscore)

In [76]:
X_train, X_test, y_train, y_test = train_test_split(c3x,c3y, test_size=0.3, random_state=9)

In [77]:
K_3 = KNeighborsClassifier(n_neighbors= 3)
K_3.fit(X_train, y_train)
print(K_3.score(X_test, y_test))
K_5 = KNeighborsClassifier(n_neighbors= 5)
K_5.fit(X_train, y_train)
print(K_5.score(X_test, y_test))
K_7 = KNeighborsClassifier(n_neighbors= 7)
K_7.fit(X_train, y_train)
print(K_7.score(X_test, y_test))

0.7956989247311828
0.7634408602150538
0.7634408602150538

In [78]:
scores = {}
scores_list = []
i = 1
while(i<20):
    knn = KNeighborsClassifier(n_neighbors= i)
    knn.fit(X_train, y_train)
    print(knn.score(X_test, y_test))
    y_pred = knn.predict(X_test)
    scores[i]= metrics.accuracy_score(y_test,y_pred)
    scores_list.append(metrics.accuracy_score(y_test,y_pred))
    
    i+=2

0.8064516129032258
0.7956989247311828
0.7634408602150538
0.7634408602150538
0.7311827956989247
0.7956989247311828
0.7741935483870968
0.7956989247311828
0.7956989247311828
0.7849462365591398

In [79]:
 max(scores,key=scores.get)

1